@model RegisterDTO 
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Kayıt Ol</h2>
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label for="name">Ad Soyad</label> 
                    <input type="text" class="form-control" id="name" placeholder="Adınızı ve soyadınızı girin" asp-for="ad_soyad"> 
                </div>
                <div class="form-group">
                    <label for="username">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="username" placeholder="Kullanıcı adınızı girin" asp-for="kullaniici_adi">
                </div>
             
                <div class="form-group">
                    <label for="email">E-posta</label>
                    <input type="email" class="form-control" id="email" placeholder="E-posta adresinizi girin" asp-for="e_posta">
                </div>
                 <div class="form-group">
                    <label for="telno">Telefon Numarası</label>
                    <input type="text" class="form-control" id="telno" placeholder="Telefon numaranızı girin" asp-for="tel_nu">
                </div>
                <div class="form-group">
                    <label for="tcno">Tc Kimlik Numarası</label>
                    <input type="text" class="form-control" id="tcno" placeholder="Tc Kimlik numaranızı girin" asp-for="tc_kimlik_numarasi">
                </div>
                <div class="form-group">
                    <label for="password">Şifre</label>
                    <input type="password" class="form-control" id="password" placeholder="Şifrenizi girin" asp-for="sifre">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
            </form>
        </div>
    </div>
</div>


